@font-face {
    font-family: 'Regular';
    src: url(../Fonts/Rajdhani-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Bold';
    src: url(../Fonts/Rajdhani-SemiBold.ttf) format('truetype');
  }

.nav-link {
    text-align: center;
    font-family: 'Rajdhani', 'Bold';
    letter-spacing: 0.1em;
    color: #FFF9C8;
    text-shadow: -4px 2px 10px rgba(255, 46, 134, 0.83);
  }