.about {
    background-color: #2C193F;
    font-family: 'Rajdhani', 'Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.about h1 {
    position: relative;

    text-decoration: underline;
    font-weight: 600;
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFF9C8;
    text-shadow: -4px 2px 30px #FFF9C8;
}

.about h2 {
    position: relative;

    font-weight: 600;
    font-size: 2.3vw;
    text-align: center;
    letter-spacing: 0.1em;
}

.about .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50vw;
    padding-bottom: 2em;
    height: min-content;
}

.about-us {
    width: 20vw;
    height: fit-content;
    padding: 1em;
    margin: 0.5em;
    border-radius: 20px;
    background-color: #48325E;

    color: white;
    text-shadow: none;
}

.members-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: min-content;
}

.members-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 28vw;
    height: fit-content;
    padding: 1em;
    margin: 0.5em;
    border-radius: 20px;
    background-color: #48325E;

    color: white;
    text-shadow: none;
}

.socials {
    display: inline-flex;
}

.socials a {
    margin-right: 0.5em;
    text-decoration: none;
    color: white;
}

.socials a:hover {
    color: #FFF9C8;
}

.libraries-box {
    position: relative;

    width: 60vw;
    height: fit-content;
    margin: 0.5em;

    background: #48325E;
    border-radius: 20px;
    color: white;
    text-shadow: none;
}