.about {
    font-family: 'Rajdhani', "Bold";
}

.abt-text {
    position: absolute;
    width: 623px;
    height: 61px;
    left: 408px;
    top: 117px;

    font-family: 'Rajdhani', "Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100.6%;
    /* or 64px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFF9C8;

    text-shadow: -4px 2px 10px #FFF9C8;
}

.libraries-text {
    position: absolute;
    width: 623px;
    height: 61px;
    left: 408px;
    top: 928px;

    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100.6%;
    /* or 64px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFF9C8;

    text-shadow: -4px 2px 10px #FFF9C8;

}

.libraries-box {
    position: absolute;
    width: 1241px;
    height: 287px;
    left: 101px;
    top: 1059px;

    background: #48325E;
    border-radius: 20px;
}

.libraries-txt1 {
    position: absolute;
    width: 595px;
    height: 150px;
    left: -10px;
    top: 50px;

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100.6%;
    /* or 48px */

    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.libraries-txt2 {
    position: absolute;
    width: 595px;
    height: 150px;
    left: 43px;
    top: 140px;

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100.6%;
    /* or 48px */

    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.team-box1 {
    position: absolute;
    width: 606px;
    height: 169px;
    left: 100px;
    top: 238px;

    background: #48325E;
    border-radius: 20px;
}

.team-box2 {
    position: absolute;
    width: 606px;
    height: 169px;
    left: 736px;
    top: 237px;

    background: #48325E;
    border-radius: 20px;
}

.team-box3 {
    position: absolute;
    width: 606px;
    height: 169px;
    left: 100px;
    top: 437px;

    background: #48325E;
    border-radius: 20px;
}

.team-box4 {
    position: absolute;
    width: 606px;
    height: 169px;
    left: 736px;
    top: 437px;

    background: #48325E;
    border-radius: 20px;
}

.team-box5 {
    position: absolute;
    width: 606px;
    height: 169px;
    left: 100px;
    top: 637px;

    background: #48325E;
    border-radius: 20px;
}

.team-box6 {
    position: absolute;
    width: 606px;
    height: 169px;
    left: 736px;
    top: 637px;

    background: #48325E;
    border-radius: 20px;
}