@font-face {
    font-family: 'Regular';
    src: url(../Fonts/Rajdhani-Regular.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Rajdhani-SemiBold.ttf) format('truetype');
}


.agents {
    background-color: #2C193F;
    font-family: 'Rajdhani', 'Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.agents h1 {
    position: relative;

    text-decoration: none;
    font-weight: 600;
    font-size: 4.5vw;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFF9C8;
    text-shadow: -4px 2px 10px #FFF9C8;
}

.agents .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: min-content;
}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    padding: 0;
}

.link-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.agents .link {
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff9c8;
    text-shadow: -4px 2px 10px #fff9c8;
    font-size: 3.8vw;
}

.roles-img {
    width: 32vw;
    margin: 2em;
}