@font-face {
    font-family: 'Regular';
    src: url(../Fonts/Rajdhani-Regular.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Bold';
    src: url(../Fonts/Rajdhani-SemiBold.ttf) format('truetype');
}


.agents {
    background-color: #2C193F;
    font-family: 'Rajdhani', 'Bold';
}


.cont-img {
    position: absolute;
    width: 398px;
    height: 401px;
    left: 215px;
    top: 318px;
}

.sent-img {
    position: absolute;
    width: 398px;
    height: 401px;
    left: 822px;
    top: 318px;
}

.init-img {
    position: absolute;
    width: 399px;
    height: 401px;
    left: 210px;
    top: 805px;
}

.duel-img {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 822px;
    top: 805px;
}

.duel-txt {
    position: absolute;
    width: 451px;
    height: 87px;
    left: 830px;
    top: 974px;

    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100.6%;
    /* or 64px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFF9C8;

    text-shadow: -4px 2px 10px #FFF9C8;
}

.cont-txt {
    position: absolute;
    width: 534px;
    height: 107px;
    left: 173px;
    top: 487px;

    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100.6%;
    /* or 64px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFF9C8;

    text-shadow: -4px 2px 10px #FFF9C8;

}

.sent-txt {
    position: absolute;
    width: 451px;
    height: 88px;
    left: 825px;
    top: 487px;

    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100.6%;
    /* or 64px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFF9C8;

    text-shadow: -4px 2px 10px #FFF9C8;

}

.init-txt {
    position: absolute;
    width: 441px;
    height: 87px;
    left: 220px;
    top: 974px;

    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100.6%;
    /* or 64px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFF9C8;

    text-shadow: -4px 2px 10px #FFF9C8;

}