.bg {
  background-color: #2c193f;
  font-family: "Rajdhani", sans-serif;
  color: white;
  text-shadow: -4px 2px 10px rgba(255, 255, 255, 0.83);
}

.desc {
  position: absolute;
  width: 682px;
  height: 348.48px;
  left: 201px;
  top: 470px;

  font-family: "Rajdhani", "Bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 100.6%;
  text-align: left;
  /* or 36px */

  letter-spacing: 0.1em;

  color: #FFF9C8;

  text-shadow: -2px 0px 10px #FFFFFF;
}

.title {
  position: absolute;
  width: 80%;
  height: 253px;
  left: 10%;
  top: 1500px;

  font-family: "Rajdhani", "Bold";
  font-style: bold;
  font-weight: 600;
  font-size: 55px;
  line-height: 100.6%;
  /* or 35px */

  text-align: center;
  letter-spacing: 0.1em;

  color: #fff9c8;

  text-shadow: -2px 0px 10px #ffffff;
}

.main {
  position: absolute;
  width: 1515px;
  height: 904px;
  left: -75px;
  top: 90px;

}


.name-one {
  position: absolute;
  width: 80%;
  height: 253px;
  left: -20%;
  top: 2010px;

  font-family: "Rajdhani", "Bold";
  font-style: bold;
  font-weight: 600;
  font-size: 65px;
  line-height: 100.6%;
  /* or 35px */

  text-align: center;
  letter-spacing: 0.1em;

  color: #fff9c8;

  text-shadow: -2px 0px 10px #2c193f;
}

.name-two {
  position: absolute;
  width: 80%;
  height: 253px;
  left: 12%;
  top: 2000px;

  font-family: "Rajdhani", "Bold";
  font-style: bold;
  font-weight: 600;
  font-size: 75px;
  line-height: 100.6%;
  /* or 35px */

  text-align: center;
  letter-spacing: 0.1em;

  color: #fff9c8;

  text-shadow: -2px 0px 10px #2c193f;
}

.name-three {
  position: absolute;
  width: 80%;
  height: 253px;
  left: 40%;
  top: 2010px;

  font-family: "Rajdhani", "Bold";
  font-style: bold;
  font-weight: 600;
  font-size: 65px;
  line-height: 100.6%;
  /* or 35px */

  text-align: center;
  letter-spacing: 0.1em;

  color: #fff9c8;

  text-shadow: -2px 0px 10px #2c193f;
}
